html, body, #map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.stations, .stations svg {
  position: absolute;
}

.stations svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.stations circle {
  fill: green;
  stroke: white;
  stroke-width: 1.5px;
}

div.slider {
  width: 400px;
  height: 2px;
  padding: 10px 0 10px 0;
  margin: 10px;
}

#map {
  width: 800px;
  height: 600px;
}
